version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-to-default-catalog
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          chart: "alloy"
          persist_chart_archive: true
          ct_config: ".circleci/ct-config.yaml"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
